<!--
For building CRUD application you will need Node js and MongoDB.
To run node please call node entry.js Or nodemon entry.js
To run MongoDB open node cmd and go to :\> cd C:\Program Files\MongoDB\Server\3.0\bin 
and run :\>mongod.exe
To run angular open cmd :\>ng serve

The content below is only a placeholder and can be replaced.
-->
<div>
  <div class="row">
    <div class="col-md-4">
      <img src="../assets/logo.png" alt="">
    </div>
    <div class="col-md-8">
      <h1 class="text-primary">Angular Tutorial: CRUD App</h1>
    </div>
  </div>
</div>
<hr>

<app-shopping-item></app-shopping-item>